<h3>Create Employee</h3>
<div class="col-md-6 offset-md-3">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" class="form-control" [(ngModel)]=employee.firstName name="firstName">
        </div>
        <div class="form-group">
            <label for="LastName">Last Name</label>
            <input type="text" id="lastName" class="form-control" [(ngModel)]=employee.lastName name="lastName">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" [(ngModel)]=employee.email name="email">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>